@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;
  min-height: 100vh;
}

a {
  font-weight: 700;
  color: rgb(34, 29, 29);
  cursor: pointer;
  text-decoration: inherit;
}

.active {
  color: #535bf2;
}

.inactive {
  color: rgb(34, 29, 29);
}

a:hover {
  color: #535bf2;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
}

.logo-container a {
  font-family: "Arizonia", cursive;
  font-size: 38px;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.navlinks-container a {
  padding-left: 16px;
  font-size: 18px;
}

.page-container {
  background-color: rgb(242, 242, 90);
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.event-page .video-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.event-page .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
}

/* Container */
.event-page .container {
  position: absolute;
  min-width: 980px;
  min-height: 504px;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 50px;
  border-radius: 5px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
}

/* Button */

.button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#countdown-button {
  width: 100%;
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  padding: 0;
  border-radius: 12px;
  background: #2c35e9;
  outline: none;
  border: none;
  outline-offset: 4px;
}

#countdown-button .start-text {
  display: block;
  padding: 12px 32px;
  border-radius: 12px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  background: #535bf2;
  color: white;
  outline: none;
  font-weight: bolder;
  transform: translateY(-6px);
}

#countdown-button:active .start-text {
  transform: translateY(-2px);
}

#countdown-button:hover {
  filter: brightness(110%);
}

/* Countdown */
.countdown {
  width: 600px;
  margin: auto;
  z-index: 8;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  place-items: center;
  padding: 30px 20px;
}

.buttons .effect {
  padding: 0;
  border-radius: 12px;
  background: #2c35e9;
  outline: none;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
}

.effect:hover {
  filter: brightness(110%);
}

.buttons input {
  display: block;
  padding: 12px 32px;
  border-radius: 12px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  background: #535bf2;
  color: white;
  outline: none;
  font-weight: bolder;
  transform: translateY(-6px);
}

.effect:active input {
  transform: translateY(-2px);
}
